<template>
  <a-scene renderer="antialias: false; alpha: true; colorManagement: true" ref="scene" embedded
      shadow="type: pcf"
      keyboard-shortcuts="enterVR: false" post-proc>
      <canvas ref="terrain_canvas"></canvas>
      <a-camera ref="cam" id="player"
          position="0 10 0"
          wasd-controls="acceleration: 142; fly: true"
          look-controls="pointerLockEnabled: true"
          restrict-position>
      </a-camera>
      <a-ocean width="256" speed="0.5" color="#212111" depth="256" scale="5 5 1" density="160" opacity="0.9" amplitude-variance="0.003" amplitude="0.003" position="0 -4 0" shadow="receive: true"></a-ocean>
      <a-simple-sun-sky radius="5120" sun-position="0.7 0.4 -1"></a-simple-sun-sky>
      <a-entity light="type: ambient; color: #BBB; intensity: 0.8" ></a-entity>
      <a-entity light="type: directional; 
        shadowCameraRight: 64;
        shadowCameraLeft: -64;
        shadowCameraBottom: -64;
        shadowCameraTop: 64;
        shadowMapHeight: 768, shadowMapWidth: 768;
        castShadow: true; color: #FFF; intensity: 0.8" position="140 80 -200" scale="5 5 5"></a-entity>
      <a-entity position="0 20 -4" particle-system="size:0.3; blending: 2; color: yellow; preset: dust"></a-entity>
      <!--a-simple-sun-sky radius="30000" fog-color="#aaddee" sun-position="-1 0.8 1"></a-simple-sun-sky-->
      <a-triangleset not_material="wireframe: true; color: black" material="flatShading: true; roughness: 0.9; metalness: 0.2; color: #6d4024" position="-640 -8 -640" scale="5 2 5" :vertices="this.vertices" :triangles="this.triangles" shadow></a-triangleset>
      <!--a-plane position="0 0 0" rotation="-90 0 0" material="color: gold; metalness: 0.5" width="256" height="256" scale="5 5 5" shadow="receive: true"></a-plane-->
      <a-entity position="-30 5 -4" gltf-model="url(assets/plant/Plant.glb)" shadow></a-entity>
      <a-entity position="-40: 5 -28" gltf-model="url(assets/templo.gltf)" shadow></a-entity>
      <a-entity position="0 5 28" rotation="0 180 0" gltf-model="url(assets/platform.gltf)" shadow></a-entity>
    </a-scene>
</template>

<script lang='python'>

class Component:
    def __init__(self):
        self.triangles = ""
        self.vertices = ""

    async def MOUNTED(self):
        await self.load_terrain()

    async def load_terrain(self):
        console.info('Loading terrain')
        window.plane = self['$refs'].plane
        window.scene = self['$refs'].scene
        window.martini = Martini(257)
        height_map = await wuy.get_height_map()

        tile = martini.createTile(height_map)
        mesh = tile.getMesh(30)

        self.vertices = []
        for i in range(0, mesh.vertices.length/2):
            x = mesh.vertices[i*2]
            y = mesh.vertices[i*2+1]
            self.vertices.push(x)
            self.vertices.push(height_map[y * 257 + x] / 150000)
            self.vertices.push(y)
        self.triangles = mesh.triangles

</script>

<style>
.a-enter-vr-button {
    display: none;
}
a-scene {
    flex: 1 1 auto;
}
</style>
