<template>
    <div ref="xterm"></div>
</template>

<script lang="python">

class Component:
    def __init__(self):
        self.buffer = []
    
    def MOUNTED(self):
        self.term = Terminal({'theme': {
                                        'foreground': '#bbccaa',
                                        'background': '#345',
                                        'cursor': '#bbccaa',
                                    }})
        self.term.setOption('allowTransparency', false)
        self.term.open(self['$refs'].xterm)
        self.term.attachCustomKeyEventHandler(self.key_down)
        self.term.on('data', self.user_input)
        self.prompt()
        window.term = self.term
        window.addEventListener('resize', self.fix_size)
        self.fix_size()
 
    async def fix_size(self):
        self.term.fit()
    
    def prompt(self):
        self.term.write('\x1B[1;3;33mHeroe\x1B[0m > ')
    
    def user_input(self, data):
        if data not in ('\r', '\n', '\t', '\b', decodeURI('%7F'), # Backspace
                        "\u001b[D", "\u001b[C", "\u001b[A", "\u001b[B",  # Arrows
                        "\u001b[H", "\u001b[F",   # Home, End
                       ):
            if not data.startswith('\u001b'):
                self.term.write(data)
    
    def key_down(e):
        if e.key is 'Enter':
            self.term.write("\r\n")
            self.buffer = []
            self.prompt()
        elif e.key is 'Tab':
            self.term.blur()
        elif e.key is 'Backspace' and self.buffer:
            self.term.write("\b \b")
            self.buffer = self.buffer.slice(0,-1)
        else:
            if e.key.length == 1 and not (e.ctrlKey or e.metaKey or e.altKey):
                self.buffer.append(e.key)
    
</script>
<style scoped>
  :scope {
        flex: 1 1 auto;
        width: 100%;
        height: 30%;
        z-index: 1;
  }
</style>
<style lang="less">
    @import "./node_modules/xterm/dist/xterm.css";
    .terminal {
        display: block;
    }
    .terminal :active {
        border: 2px solid peru;
    }
</style>
